@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif;
}

.custom-card {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px;
}

.custom-card p {
  margin: 0px;
  font-weight: 200;
}

@keyframes shaking {
  0% { transform: translateX(0); }
  10% { transform: translateX(-10px); }
  20% { transform: translateX(10px); }
  30% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }
  70% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  90% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shaking 0.8s linear;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 760px) {
  .move-right-on-large {
    margin-right: -250px;
    margin-left: 150px;
  }
}

.centered-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}